@page "/terminal"
@using LSerialObserver.Utils
@using LSerialObserver.Domain.Terminal

<div id="serialPortConnectionModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Serial Port Connection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <SerialPortConnectionSettings @bind-Options="_terminal.Options"/>
      </div>
    </div>
  </div>
</div>

<div class="h-100 d-flex flex-column border rounded-3 shadow-sm">
  <div class="p-2 d-flex justify-content-center align-items-center bg-light border-bottom border-2">

    <div>
      @if (_terminal.IsConnected == false)
      {
        <button @onclick="_terminal.Start" type="button" disabled="@(_terminal.Options == null)" class="mx-1 btn btn-success fs-5">
          <i class="bi bi-play-fill"></i>
        </button>
      }
      else
      {
        <button @onclick="_terminal.Stop" type="button" class="mx-1 btn btn-danger fs-5">
          <i class="bi bi-stop-fill"></i>
        </button>
      }
    </div>

    <button class="mx-1 btn btn-info px-5 fs-5"
            data-bs-toggle="modal" data-bs-target="#serialPortConnectionModal">
      <SerialPortConnectionButton Options="_terminal.Options"/>
    </button>

    <button type="button" class="mx-1 btn btn-outline-secondary fs-5">
      <i class="bi bi-file-binary"></i>
    </button>

    <button type="button" class="mx-1 btn btn-outline-secondary fs-5">
      <i class="bi bi-chevron-bar-down"></i>
    </button>
  </div>


  <div class="font-monospace fs-5 overflow-auto flex-grow-1">
    <Virtualize Items="@_terminal.Messages" Context="message" OverscanCount="50">
      <div class="row text-break my-2" style="background: hsl(120,100%,85%)">
        <div class="col-3">
          @foreach (var part in message.ToAscii().SplitInParts(16))
          {
            <div>@part</div>
          }
        </div>
        <div class="col-9">
          @foreach (var part in message.ToHex().SplitInParts(16 * 3))
          {
            <div>@part</div>
          }
        </div>
      </div>
    </Virtualize>
  </div>
</div>

@code {
  private readonly SerialPortTerminal _terminal = new();

  protected override Task OnInitializedAsync()
  {
    _terminal.MessageReceived += _ => InvokeAsync(StateHasChanged);

    return base.OnInitializedAsync();
  }

}
