﻿@inherits LayoutComponentBase

<nav class="position-fixed top-0 bottom-0 start-0 bg-light border-1 border-end shadow-sm" style="width: 4.5rem;">
  <NavMenu/>
</nav>

<main class="container-fluid p-3" style="margin-left: 4.5rem;">
  @Body
</main>
